@media screen and (max-width: 910px){

    // Responsive Header

    header {
        height: 90px;
        h1 {
            margin: 0;
            margin-top: 25px;
            margin-left: 10px;
            font-family: $font-family_2;
            width: 10px;
            height: 20px;
            font-size: 1.9rem;
            float: left;
        }
        img {
            width: 40px;
            height: 35px;
            margin-top: 30px;
            margin-left: 30px;
            float: left;
        }
    }
    .navegar {
        ul {
            padding-top: 30px;
            
            li {
                a {
                    font-size: 1.3rem;
                    
                }
            }
        }
    }
    .sesion {
        a {
            margin-top: -32px;
            font-size: 1.3rem;
            margin-right: 15px;
            }
        }


        //Responsive Busqueda
 
        .contenedor-busqueda {
            width: 100%;
            height: 80px;
            margin-top: 80px;
            background-color: $background-color_3;
            border-bottom: 1px solid whitesmoke;
            ul {
                li {
                    a {
                        margin-top: 30px;
                        font-size: 1.1rem;
                        
                        
                    }
                }
            }

            .items-nav {
                margin-top: -8px;
               
            }
    
            .Buscador{
                height: 35px;
    
            }
    
            .Buscando{
                margin-left: 5px;
                margin-top: 3px;
                width: 45px;
                height: 45px;
            }
            .fa-search{
                font-size: 24px;
            }
    
        }


        //Responsive Carro

        .carro-container {
            display: flex;
            justify-content: left;
            height: 600px;
          
        
            .tabla-container {
                width: 450px;
               
                .tabla {
                   
                    width: 430px;
                    height: 200px;
                    tbody {
                        td {
                            font-size: 0.6rem;
                            font-weight: bold;
                        }
                    }
        
                    thead {
                        th {
                            font-size: 0.8rem;
                           
        
                        }
                    }
                }
        
                .controles{
                    margin-left: 35px;
                    input{
                        margin-left: 10px;
                        width: 170px;
                        font-size: 0.8rem;
                    }
                }
        
            }
        
            .controles{
                margin-top: 40px;
                margin-left: 50px;
               
            }
        
        }
        
        
        
        .checkout {
            height: 520px;
            margin-top: -519px;
            width: 260px;
            h3 {
                font-size: 1.5rem;
            }
        
            h5 {
                font-size: 1rem;
                margin-left: 35px;
            }

        
            .precio {
                font-size: 1rem;
                margin-left: 170px;
            }
           
        
            .descuento {
              margin-left: 25px;
            }
        
            .btnPagar {
                margin-left: 30px;
                width: 200px;
            }
        }

        //Responsive Codigos

        .codigo-container{
            h2{
                font-size: 2rem;
            }

            a{
                width: 150px;
                font-size: 1.5rem;
            }

            section{
                table{
                    font-size: 1.2rem;
                }
            }
        }


        //Responsive Iniciar Sesión

        .formulario{
            top: 45px;
        }



        //Responsive Portada Juegos

        .portada-juegos{
            background-size: contain;
        }
        
       
       



        
       

        


       
            
            

        


       

      
    }

