@media screen and (max-width:320px) {

      //Responsive Header

      header {
        height: 50px;

        h1 {
            margin-top: 20px;
            font-size: 0.7rem;
            margin-left: 5px;

        }

        img {
            width: 15px;
            height: 15px;
            margin-top: 20px;
            margin-left: 10px;
            float: left;
        }
    }

    .navegar {
        ul {
            padding-top: 22px;
            margin-left: 0px;


            li {
                a {
                    font-size: 0.47rem;
                    padding-left: 0px;
                    padding-right: 0px;


                }
            }
        }
    }

    .sesion {

        align-items: center;
        a {
            margin-top: -10px;
            font-size: 0.4rem;
            margin-right: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 10px;
        }
    }


    //Responsive Busqueda

    .contenedor-busqueda {
        width: 100%;
        height: 40px;
        margin-top: 50px;
        background-color: $background-color_3;
        border-bottom: 1px solid whitesmoke;

        ul {
            margin-left: -10px;
            li {
                a {
                    margin-top: 10px;
                    font-size: 0.4rem;
                    margin-left: 10px;


                }
            }
        }

        .items-nav {
            margin-top: -6px;
        

            &:hover {
                .Buscador {
                    width: 180px;
                }
            }

        }

        .Buscador {
            font-size: 0.4rem;
            height: 15px;
            left: 35px;


            &:focus {
                border-color: $border-color_2;
                width: 180px;
            }

        }

        .Buscando {
            margin-top: 2px;
            width: 20px;
            height: 20px;
            margin-left: 30px;
        }


        .fa-search {
            font-size: 0.6rem;
        }

    }


    //Responsive Titulos

    .contenido-principal{
        .home-title{
            font-size: 1rem;

        }
    }

    //Responsive Tendencias

    .carousel-item {
        margin-top: 40px;
        padding-left: 5px;
        padding-right: 5px;

        img {
            height: 200px;
            border-radius: 3px;
        }
    }

    .separator {
        top: 20px;

    }


     //Responsive Ofertas
     .Ofertas {
        h1 {
            margin-top: -50px;
        }
    }

    .oferta-container {
        margin-top: -20px;
        gap: 0px;
        border-radius: 0px;
        height: 70px;
        width: 50px;
        &:hover{
            transform: scale(1.1);
        }
        img{
            border-radius: 15px;
        }

        h3 {
            font-size: 0.4rem;
        }
    }

    .Ofertoide {
        top: 75%;
        left: 8%;
        width: 15px;
        height: 10px;
        h6 {
            color: $color_3;
            font-family: $font-family_1;
            font-size: 0.4rem;
        }
    }

    .oferta {
        margin-top: 0px;
    }


     //Responsive Categorías

     .categorias{
        h1{
            margin-top: -40px;
        }
     }

    .descripcion-container {
        gap: 20px;
        height: 70px;
        width: 79px;
        margin-top: -20px;
        &:hover {
            transform: scale(1.1);
        }

        img{
            border-radius: 20px;
        }

        
        h3 {

                font-size: 0.5rem;
        }

    }

    //Responsive Juegos

    .juegos-contenedor{
        margin-top: 0px;
    }
    .juegos-container {
        width: 80px;
        height: 90px;
        margin-top: 20px;
        &:hover {
            transform: scale(1.05);
        }
        a {
            margin-top: -10px;
            font-size: 0.3rem;
            h6{
                margin-top: 0px;
                color: black;
                width: 300px;
            }
        }
        img {
            background-color: aqua;
            padding: 0px;
            width: 80px;
            height: 70px;
            border-radius: 5px;
        }
    }


    //Responsive Portada Juegos

    .añadirCarro {
        font-size: 0.4rem;
        width: 80px;
        height: 20px;
    }
    
    .comprar {
        width: 80px;
        height: 20px;
        font-size: 0.4rem;
        margin-left: 50px;
    }

     //Responsive Carro

     .carro-container {
        margin-top: -80px;
        h2{
            position: absolute;
            top: 100px;
            left: 120px;
            z-index: 1;
            
            
        }
    
        .tabla-container {
            margin-left: 15px;
            width: 270px;

            .tabla {
                width: 260px;

                margin-left: 5px;

                tbody {
                    td {
                        width: 40px;
                        font-size: 0.6rem;
                    }
                }
    
                thead {
                    th {
                        font-size: 0.8rem;
                        width: 0px;
    
    
                    }
                }
            }
    
            .controles{
                margin-left: 15px;
                margin-top: 15px;
                input{
                    height: 25px;
                    margin-left: 10px;
                    width: 100px;
                    font-size: 0.5rem;
                    border-radius: 5px;
                }
            }
    
        }
    
       
    
    }
    
    
    
    .checkout {
        position: relative;
        margin-top: -140px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        height: 140px;
        width: 305px;

        h3 {
            font-size: 0.8rem;
            margin-top: 0;
        }
    
        h5 {
            margin-top: 1px;
            font-size: 0.6rem;
            margin-left: 70px;
        }

    
        .precio {
            font-size: 0.6rem;
            margin-top: -21px;
            margin-left: 190px;
        }
       
    
        .descuento {
            width: 80px;
            margin-left: 85px;
            margin-top: -160px;
            font-size: 0.4rem;
            border-bottom: 0.5px solid white;
          
        }
    
        .btnPagar {
            margin-top: -40px;
            margin-left: 60px;
            font-size: 0.4rem;
            height: 15px;
            width: 40px;
            border-radius: 5px;
        }
    }






       //Responsive Iniciar Sesión

       .formulario{
        width: 260px;
        top: 20px;
        left: 0px;
        h5{
            font-size: 1.1rem;
        }
        input{
            
            width: 200px;
            height: 20px;
            padding: 12px;
        }
        a{
            input{
                padding: 0px;
                height: 30px;
                margin-left: 20px;
            }
        }
        div{
            height: 0px;
            width: 180px;
            a{
                font-size: 0.7rem;
                margin-left: 10px;
            }
        }

        .btnCorreo{
            margin-left: 2px;
        }
    }


    //Responsive Crear Cuenta
    .formularioR{
        width: 260px;
        top: 20px;
        left: 0px;
        h5{
            font-size: 1.1rem;
        }
        input{
            width: 200px;
            height: 20px;
            padding: 12px;
        }
        a{
            input{
                padding: 0px;
                height: 30px;
                margin-left: 10px;
            }
        }

    }
   
        

    
   


    //Responsive Payment

    .contenedor-payment{
        height: 400px;
        margin-top: 50px;
        .payment {
            width: 300px;
            height: 400px;
            font-family: $font-family_1;
            color: $color_6;
            h3 {
                font-size: 1rem;
            }
            h5 {
                font-size: 0.8rem;
            }
            form {
                select {
                    text-align: center;
                    width: 200px;
                    height: 20px;
                    border-radius: 5px;
                    font-size: 0.8rem;
                }
            }
        }
        #numero-tarjeta {
            padding: 2px;
            width: 200px;
            border-radius: 5px;
            height: 25px;
            text-align: center;
            font-size: 0.8rem;
        }
        #fecha {
            width: 180px;
            border-radius: 5px;
            height: 25px;
            text-align: center;
        }
        #CVC {
            width: 100px;
            border-radius: 5px;
            height: 25px;
            text-align: center;
        }
        .btnPayment {
            font-size: 0.7rem;
            width: 200px;
            height: 25px;
        }
    }

      //Responsive Codigos

      .contenedor-codigo{
        height: 340px;
      }
      .codigo-container{
       
        h2{
            font-size: 1.5rem;
            width: 250px;
            left: 55%;
        }

        a{
            top: 120%;
            width: 150px;
            font-size: 1.3rem;
        }

        section{
            top: 70%;
            table{
                height: 150px;
                font-size: 0.7rem;
            }
        }
    }




    
    footer{
        .informacion{
            width:140px ;

            i{
                margin-top: 8px;
                margin-left: 3px;
            }
            
            h4{
                font-size: 1rem;
            }

            a{
                font-size: 0.6rem;
            }
        }

        .redes{
            justify-content: right;
            a{
                i{
                    font-size: 0.9rem;
                    margin-right: 10px;
                    margin-top: 12px;
                }
            }
        }

    }
}