@import '../Utilidades/variables';



@mixin mixin-controles{
    input {
		
		width: 200px;
		height: 40px;
		border-radius: 20px;
		font-size: 1rem;
		font-family: $font-family_1;
		transition: 0.2s ease-in;
		border-color: $border-color_1;
		border-width: 1px;
		background-image: linear-gradient(to right, #d0e87d 0%, #e6f0e3 51%, #e9ff6e 100%);
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		box-shadow: 0 0 2px #eee;
		&:hover{
			background-position: right center;
			color: rgb(76, 206, 220);
			text-decoration: none;
		}
		
	}
}

.controles{
    @include mixin-controles();
}

@mixin mixin-botones{
	background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
	font-family: $font-family_1;
	background-size: 200% auto;
	border-radius: 20px;
	border-color: $border-color_1;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	border-width: 1px;
	box-shadow: 0 0 10px #eee;
	&:hover{
		background-position: right center;
		color: $color_9;
		text-decoration: none;
		animation: animation-pagar 1s ease 0s infinite normal forwards;
	}
}



.btnPagar, .btnIniciar, .btnCrear, .btnEnviar, .btnCorreo{
	@include mixin-botones();
}


@mixin mixin-btnJuegos{

	border-radius: 20px;
	background-image: url(../../img/diablo.jpg);
	background-position: center;
	color: $color_6;
}

.añadirCarro, .comprar{
	@include mixin-btnJuegos();
}