@import '../Utilidades/variables';

.contenido-principal {
	margin: 0;
	padding: 0;
	background: rgb(230,199,212);
	background: radial-gradient(circle, rgba(230,199,212,1) 11%, rgba(148,187,233,1) 100%);
	width: 100%;
	height: 100%;
}

.carousel-item {
	margin-top: 40px;
	img {
		height: 390px;
		background-size: cover;
		cursor: pointer;
		border-radius: 10px;
		border: 1px solid black;
	}
}
.separator {
	font-size: 19px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 70px 70px 70px;
	top: 100px;
	&::after {
		content: "";
		display: flex;
		background-color: $background-color_10;
		margin: 40px 0;
		height: 1px;
		width: 100%;
		position: absolute;
	}
}