@import '../Utilidades/variables';
@import '../Components/botones';


.carro-container {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 500px;
	height: 600px;
	h2{
		position: absolute;
		top: 100px;
		left: 20px;
		z-index: 1;
		
	}

	.tabla-container {
		background: none;
		background-color: $background-color_14 ;
		border-radius: 10px;
		border: 1px solid $border-color_3;
		padding: 0px;
		margin-top: 20px;
		width: 500px;
		height: 230px;
		margin-left: 20px;
		

		.tabla {
			background: none;
			width: 480px;
			height: 200px;
			text-align: center;
			margin: 10px;

			td {
				padding: 5px 2px;

				&:nth-child(2) {
					border-left: 1px solid black;
				}

				&:nth-child(3) {
					border-left: 1px solid black;
				}
			}

			th {
				padding: 5px 2px;

				&:nth-child(2) {
					border-left: 1px solid black;
				}

				&:nth-child(3) {
					border-left: 1px solid black;
				}
			}

			tbody {
				td {
					font-size: 13px;
					font-weight: bold;
					color: $color_6;
					font-family: $font-family_1;



				}
			}

			thead {
				background: none;

				th {
					font-size: 19px;
					font-weight: bold;
					color: $color_6;
					text-align: center;
					font-family: $font-family_1;
					border-bottom: 1px solid black;


				}
			}
		}

		.id {
			width: 100px;
		}

	}

	.controles{
		margin-top: 40px;
		input{
			margin-left: 30px;
		}
		
		
	}

}



.checkout {
	float: right;
	display: flex;
	flex-direction: column;
	background-color: $background-color_13;
	width: 300px;
	height: 505px;
	margin-top: -503px;
	margin-right: 0px;
	border-radius: 0px;
	border: 1px solid black;

	h3 {
		color: $color_6;
		text-align: center;
		padding-top: 10px;
		font-family: $font-family_1;
		text-decoration: underline;
		margin-top: 20px;
	}

	h5 {
		margin-top: 30px;
		color: $color_6;
		font-family: $font-family_1;
		margin-left: 40px;
	}

	h6 {
		margin-left: 190px;
	}

	.precio {
		float: right;
		margin-top: -30px;
		margin-right: 20px;
		color: $color_6;
		font-family: $font-family_1;
	}

	.descuento {
		border: none;
		outline: none;
		border-bottom: 2px solid white;
		background: none;
		margin-left: 45px;
		color: $color_6;
		font-family: $font-family_1;

		&:focus {
			border-bottom: 2px solid rgb(60, 44, 44);
		}
	}

	.btnPagar {
		margin-top:20px;
		width: 250px;
		height: 40px;
		margin-left: 25px;
	}
}