@import '../Utilidades/variables';

footer {
	background: #000000;
	background: -moz-linear-gradient(top, #000000 0%, #1E1E1E 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #000000 0%, #1E1E1E 0%, #000000 100%);
	background: linear-gradient(to bottom, #000000 0%, #1E1E1E 0%, #000000 100%);
	border-top: 1px solid whitesmoke;
	height: 150px;
}

.informacion{
	width: 200px;
	h5 {
		font-family: $font-family_2;
		color: $color_6;
		padding: 20px;
		display: flex;
		font-size: 1.5rem;
		i{
			font-size: 10px;
			margin-top: 17px;
		}
		
	
	}
	
	a {
		font-size: 1rem;
		text-decoration: none;
		color: $color_6;
		font-family: $font-family_1;
		margin-left: 20px;
		width: auto;
		transition: 0.5s ease-in;
		&:hover {
			color: $color_8;
			border-bottom: 1px solid $color_8;
		}
	}
}


.redes {
	display: flex;
	float: right;
	width: 200px;
	margin-top: -30px;
	
	a {
		border: 20px darkblue;
		i {
			color: $color_6;
			font-size: 30px;
			margin-right: 20px;
			

			&:hover {
				color: $color_8;
				
			}
		}
	}
}