@import '../Utilidades/variables';




.formulario {
	padding: 10px;
	width: 420px;
	margin: 40px;
	position: relative;
	top: 50px;
	h5 {
		text-align: center;
		color: $color_6;
		margin-top: 50px;
		font-family: $font-family_1;
	}
	div {
		margin-top: 40px;
		width: 450px;
		a {
			text-decoration: none;
			color: $color_6;
			font-family: $font-family_1;
			font-size: small;
			margin-top: 60px;
			margin-left: 50px;
			transition: 0.2s ease;
			&:hover {
				border-bottom: 1px solid $color_8;
				color: $color_8;
			}
		}
	}
}

.btnIniciar {
	margin-top: 50px;
	margin-left: 21px;
	width: 350px;
	height: 40px;
	
}