@import '../Utilidades/variables';

   .nosotros{
    background-image: url(../../img/imgnosotros.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    height: 100%;
    .nosotros-container{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      margin-top: 60px;
      h2{
         display: flex;
         font-size: 1.7rem;
         text-decoration: underline;
         
       }
       

       
       
    }
   
   }