@import '../Utilidades/variables';


.game-pay {
	background: none;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	font-family: $font-family_1;
	text-align: center;
	margin-right: 0px;
	margin-top: 20px;
	color: $color_5;
	position: relative;

	h4 {
		color: white;
		margin-left: 20px;
		text-decoration: underline;
		margin: 15px;
	}

	p {
		color: white;
		padding-left: 30px;
		padding-right: 30px;
	}
}

.añadirCarro {
	margin-top: 0px;
	width: 200px;
	height: 40px;
}

.comprar {
	margin-top: 20px;
	width: 150px;
	height: 40px;
	margin-left: 150px;
}