@import '../Utilidades/variables';



.juegos-contenedor {
	width: 100%;
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	padding: 60px;
	margin-top: 50px;
	h1{
		width: 100%;
		
	}
}
.juegos-container {
	height: 310px;
	width: 210px;
	position: relative;
	overflow: hidden;
	transition: 0.5s ease;
	margin: auto;
	text-align: center;
	margin-top: 30px;
	&:hover {
		transform: scale(1.1);
	}
	a {
		text-decoration: none;
		font-family: $font-family_1;
		color: $color_6;
		width: 200px;
		
	}
	img {
		object-fit: cover;
		width: 200px;
		height: 250px;
		padding: 10px;
		border-radius: 20px;
		transition: 0.5s ease;
	}
}
