@import '../Utilidades/variables';

.formularioR {
	width: 350px;
	margin: 40px;
	position: relative;
	top: 50px;
	left: 0px;
	h6 {
		text-align: center;
		color: $color_6;
		margin-top: 20px;
		font-family: $font-family_1;
	}
	div {
		margin-top: 40px;
		width: 450px;
	}
}

.btnCrear {
	margin-top: 30px;
	width: 350px;
	height: 40px;
	
}