@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Tektur&display=swap";
@import "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css";
@import "https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap";
@import "https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.controles input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Lexend Deca", Courier, monospace;
  transition: 0.2s ease-in;
  border-color: white;
  border-width: 1px;
  background-image: linear-gradient(to right, #d0e87d 0%, #e6f0e3 51%, #e9ff6e 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 2px #eee;
}
.controles input:hover {
  background-position: right center;
  color: rgb(76, 206, 220);
  text-decoration: none;
}

.btnPagar, .btnIniciar, .btnCrear, .btnEnviar, .btnCorreo {
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
  font-family: "Lexend Deca", Courier, monospace;
  background-size: 200% auto;
  border-radius: 20px;
  border-color: white;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  border-width: 1px;
  box-shadow: 0 0 10px #eee;
}
.btnPagar:hover, .btnIniciar:hover, .btnCrear:hover, .btnEnviar:hover, .btnCorreo:hover {
  background-position: right center;
  color: #fff2f2;
  text-decoration: none;
  animation: animation-pagar 1s ease 0s infinite normal forwards;
}

.añadirCarro, .comprar {
  border-radius: 20px;
  background-image: url(../../img/diablo.jpg);
  background-position: center;
  color: #FFFFFF;
}

.contenido-principal .main-title {
  font-family: "Lexend Deca", Courier, monospace;
  background: #020314;
  background: linear-gradient(to left, #020314 37%, #412BCF 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-top: 40px;
  font-size: 2.8rem;
  width: 100%;
}

.contenido-principal .nosotros-title, p {
  display: flex;
  color: white;
  font-family: "Lexend Deca", Courier, monospace;
  margin-top: 40px;
  text-align: justify;
  text-indent: 10px;
}

.inicio-container, .registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/mw2-cuenta.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.portada, .contenedor-payment {
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: url(../../img/mw2-cuenta.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.inputI, .inputR {
  margin-top: 10px;
  border-color: white;
  background-color: rgb(240, 222, 201);
  padding: 20px;
  border-width: 1px;
  border-radius: 5px;
  height: 30px;
  width: 350px;
  transition: 0.3s ease-in;
  font-family: "Lexend Deca", Courier, monospace;
}
.inputI:focus, .inputR:focus {
  background-color: rgb(220, 184, 138);
}

@keyframes animation-pagar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ct2 {
  100% {
    background-position: right -100px top 0;
  }
}
@keyframes ct3 {
  100% {
    display: none;
  }
}
header {
  background-color: black;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
header h1 {
  margin: 0;
  margin-top: 25px;
  margin-left: 100px;
  color: #FFFFFF;
  font-family: "Rubik Wet Paint", cursive;
  width: 10px;
  height: 0px;
  display: flex;
}
header img {
  width: 55px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 30px;
  float: left;
}

.navegar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: auto;
  margin: 0px;
  padding: 0px;
  border: 0px;
  padding-top: 5px;
}
.navegar ul li a {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  font-family: "Lexend Deca", Courier, monospace;
  transition: 0.3s ease-in;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.navegar ul li a:hover {
  background-color: rgb(162, 246, 218);
  color: #FFFFFF;
}

.sesion {
  display: flex;
  justify-content: end;
  text-align: center;
}
.sesion a {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 40px;
  margin-top: -35px;
  font-size: 1.6rem;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  padding-left: 5px;
  padding-right: 5px;
  width: 45px;
}
.sesion a:hover {
  background-color: rgb(162, 246, 218);
  color: #FFFFFF;
}

.contenedor-busqueda {
  width: 100%;
  height: 100px;
  margin-top: 80px;
  background-color: rgb(45, 15, 85);
  border-bottom: 1px solid whitesmoke;
}
.contenedor-busqueda ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.contenedor-busqueda ul li {
  position: relative;
  float: left;
  color: aliceblue;
}
.contenedor-busqueda ul li a {
  z-index: 0;
  font-size: 1.3rem;
  margin-left: 30px;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  font-family: "Lexend Deca", Courier, monospace;
  transition: 0.3s ease-in;
  border-radius: 20px;
  padding: 2px;
  margin-top: 40px;
}
.contenedor-busqueda ul li a:hover {
  background-color: rgb(162, 246, 218);
  color: black;
}
.contenedor-busqueda .items-nav {
  position: relative;
  margin-top: -5px;
  margin-left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: 0.1s ease-in;
  z-index: 1;
}
.contenedor-busqueda .items-nav:hover .Buscador {
  width: 530px;
}
.contenedor-busqueda .fa-search {
  z-index: 2;
  color: #FFFFFF;
  font-size: 27px;
  margin: auto;
}
.contenedor-busqueda .Buscador {
  z-index: 0;
  position: absolute;
  display: flex;
  top: 5px;
  left: 25px;
  width: 0px;
  height: 45px;
  background-color: #000000;
  color: #FFFFFF;
  outline: none;
  border: 2px solid white;
  border-radius: 30px;
  transition: all 0.6s ease;
  text-align: center;
  font-family: "Lexend Deca", Courier, monospace;
  margin: auto;
  font-size: 1rem;
}
.contenedor-busqueda .Buscador:focus {
  border-color: rgb(162, 246, 218);
  width: 530px;
}
.contenedor-busqueda .Buscando {
  position: absolute;
  left: 0px;
  display: flex;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgb(99, 15, 125);
  text-align: center;
  border: 1px solid rosybrown;
}

.contenido-principal {
  margin: 0;
  padding: 0;
  background: rgb(230, 199, 212);
  background: radial-gradient(circle, rgb(230, 199, 212) 11%, rgb(148, 187, 233) 100%);
  width: 100%;
  height: 100%;
}

.carousel-item {
  margin-top: 40px;
}
.carousel-item img {
  height: 390px;
  background-size: cover;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
}

.separator {
  font-size: 19px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 70px 70px 70px;
  top: 100px;
}
.separator::after {
  content: "";
  display: flex;
  background-color: hsla(0, 0%, 100%, 0.434);
  margin: 40px 0;
  height: 1px;
  width: 100%;
  position: absolute;
}

.Ofertas h3 {
  margin-top: 160px;
}

.contenedor-ofertas {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 60px;
}

.oferta-container {
  height: 270px;
  width: 200px;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
  margin-top: 30px;
  margin: auto;
}
.oferta-container:hover {
  transform: scale(1.1);
}
.oferta-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 30px;
}
.oferta-container h3 {
  text-align: center;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-family: "Lexend Deca", Courier, monospace;
}

.Ofertoide {
  position: absolute;
  top: 87%;
  left: 0%;
  width: 40px;
  height: 30px;
  background-color: rgba(255, 249, 249, 0.753);
  z-index: 1;
  border-radius: 10px;
  transition: 0.5s ease;
}
.Ofertoide h6 {
  color: rgb(14, 11, 11);
  font-family: "Lexend Deca", Courier, monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.oferta {
  top: 10px;
}

.contenedor-categorias {
  margin-top: 60px;
  width: 100%;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 60px;
  height: 100%;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  border-top: 1px solid coral;
  border-bottom: 1px solid coral;
}
.contenedor-categorias:hover h3 {
  color: #FFFFFF;
}

.descripcion-container {
  height: 150px;
  width: 200px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  margin-top: 50px;
  margin: auto;
}
.descripcion-container:hover {
  transform: scale(1.05);
}
.descripcion-container img {
  padding: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: 0.5s ease;
}
.descripcion-container a {
  text-decoration: none;
  color: #FFFFFF;
  z-index: 1;
  transition: 0.1s ease;
}
.descripcion-container h3 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lexend Deca", Courier, monospace;
  font-size: x-large;
}

.tarjeta {
  top: 40px;
}

.controles input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Lexend Deca", Courier, monospace;
  transition: 0.2s ease-in;
  border-color: white;
  border-width: 1px;
  background-image: linear-gradient(to right, #d0e87d 0%, #e6f0e3 51%, #e9ff6e 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 2px #eee;
}
.controles input:hover {
  background-position: right center;
  color: rgb(76, 206, 220);
  text-decoration: none;
}

.btnPagar, .btnIniciar, .btnCrear, .btnEnviar, .btnCorreo {
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
  font-family: "Lexend Deca", Courier, monospace;
  background-size: 200% auto;
  border-radius: 20px;
  border-color: white;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  border-width: 1px;
  box-shadow: 0 0 10px #eee;
}
.btnPagar:hover, .btnIniciar:hover, .btnCrear:hover, .btnEnviar:hover, .btnCorreo:hover {
  background-position: right center;
  color: #fff2f2;
  text-decoration: none;
  animation: animation-pagar 1s ease 0s infinite normal forwards;
}

.añadirCarro, .comprar {
  border-radius: 20px;
  background-image: url(../../img/diablo.jpg);
  background-position: center;
  color: #FFFFFF;
}

.carro-container {
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: url(../../img/carro.jpg);
  background-position: center;
  width: 100%;
  height: 600px;
}
.carro-container h2 {
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 1;
  text-decoration: underline;
  color: rgb(172, 235, 239);
  font-family: "Lexend Deca", Courier, monospace;
}
.carro-container .tabla-container {
  background: none;
  background-image: url(../../img/carro2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0px;
  margin-top: 20px;
  width: 500px;
  height: 230px;
  margin-left: 20px;
}
.carro-container .tabla-container .tabla {
  background: none;
  width: 480px;
  height: 200px;
  text-align: center;
  margin: 10px;
}
.carro-container .tabla-container .tabla td {
  padding: 5px 2px;
}
.carro-container .tabla-container .tabla td:nth-child(2) {
  border-left: 1px solid black;
}
.carro-container .tabla-container .tabla td:nth-child(3) {
  border-left: 1px solid black;
}
.carro-container .tabla-container .tabla th {
  padding: 5px 2px;
}
.carro-container .tabla-container .tabla th:nth-child(2) {
  border-left: 1px solid black;
}
.carro-container .tabla-container .tabla th:nth-child(3) {
  border-left: 1px solid black;
}
.carro-container .tabla-container .tabla tbody td {
  font-size: 13px;
  font-weight: bold;
  color: black;
  font-family: "Lexend Deca", Courier, monospace;
}
.carro-container .tabla-container .tabla thead {
  background: none;
}
.carro-container .tabla-container .tabla thead th {
  font-size: 19px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: "Lexend Deca", Courier, monospace;
  border-bottom: 1px solid black;
}
.carro-container .tabla-container .id {
  width: 100px;
}
.carro-container .controles {
  margin-top: 40px;
}
.carro-container .controles input {
  margin-left: 30px;
}

.checkout {
  float: right;
  display: flex;
  flex-direction: column;
  background-image: url(../../img/checkout.jpg);
  background-size: cover;
  background-position: center;
  transform: rotate(300deg);
  width: 300px;
  height: 503px;
  margin-top: -503px;
  margin-right: 0px;
  border-radius: 0px;
  border: 1px solid white;
}
.checkout h3 {
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
  font-family: "Lexend Deca", Courier, monospace;
  text-decoration: underline;
  margin-top: 25px;
}
.checkout h5 {
  margin-top: 30px;
  color: #FFFFFF;
  font-family: "Lexend Deca", Courier, monospace;
  margin-left: 40px;
}
.checkout h6 {
  margin-left: 190px;
}
.checkout .precio {
  float: right;
  margin-top: -30px;
  margin-right: 20px;
  color: #FFFFFF;
  font-family: "Lexend Deca", Courier, monospace;
}
.checkout .descuento {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  background: none;
  margin-left: 45px;
  color: #FFFFFF;
  font-family: "Lexend Deca", Courier, monospace;
}
.checkout .descuento:focus {
  border-bottom: 2px solid rgb(60, 44, 44);
}
.checkout .btnPagar {
  margin-top: 20px;
  width: 250px;
  height: 40px;
  margin-left: 25px;
}

.formulario {
  padding: 10px;
  width: 420px;
  margin: 40px;
  position: relative;
  top: 50px;
}
.formulario h5 {
  text-align: center;
  color: #FFFFFF;
  margin-top: 50px;
  font-family: "Lexend Deca", Courier, monospace;
}
.formulario div {
  margin-top: 40px;
  width: 450px;
}
.formulario div a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Lexend Deca", Courier, monospace;
  font-size: small;
  margin-top: 60px;
  margin-left: 50px;
  transition: 0.2s ease;
}
.formulario div a:hover {
  border-bottom: 1px solid #bfe9ff;
  color: #bfe9ff;
}

.btnIniciar {
  margin-top: 50px;
  margin-left: 21px;
  width: 350px;
  height: 40px;
}

.btnCorreo {
  margin-top: 50px;
  margin-left: 20px;
  width: 350px;
  height: 40px;
}

.formularioR {
  width: 350px;
  margin: 40px;
  position: relative;
  top: 50px;
  left: 0px;
}
.formularioR h6 {
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
  font-family: "Lexend Deca", Courier, monospace;
}
.formularioR div {
  margin-top: 40px;
  width: 450px;
}

.btnCrear {
  margin-top: 30px;
  width: 350px;
  height: 40px;
}

.juegos-contenedor {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 60px;
  margin-top: 50px;
}
.juegos-contenedor h1 {
  width: 100%;
}
.juegos-contenedor:hover h6, .juegos-contenedor:hover h3 {
  color: #FFFFFF;
}

.juegos-container {
  height: 310px;
  width: 210px;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}
.juegos-container:hover {
  transform: scale(1.1);
}
.juegos-container a {
  text-decoration: none;
  font-family: "Lexend Deca", Courier, monospace;
  color: #FFFFFF;
  width: 200px;
}
.juegos-container img {
  object-fit: cover;
  width: 200px;
  height: 250px;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s ease;
}
.juegos-container h3 {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lexend Deca", Courier, monospace;
  font-size: x-large;
}

.game-pay {
  background: none;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "Lexend Deca", Courier, monospace;
  text-align: center;
  margin-right: 0px;
  margin-top: 20px;
  color: black;
  position: relative;
}
.game-pay h2 {
  color: white;
  margin-left: 20px;
  text-decoration: underline;
  margin: 15px;
}
.game-pay p {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.game-pay h3, .game-pay h4 {
  color: #FFFFFF;
  font-size: 1rem;
  color: #FFFFFF;
}

.añadirCarro {
  margin-top: 0px;
  width: 200px;
  height: 40px;
}

.comprar {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  margin-left: 150px;
}

.payment {
  display: flex;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  font-family: "Lexend Deca", Courier, monospace;
  color: #FFFFFF;
}
.payment h3 {
  margin-top: 15px;
  text-decoration: underline;
}
.payment h5 {
  margin-top: 15px;
}
.payment form select {
  text-align: center;
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

#numero-tarjeta {
  border-radius: 10px;
  height: 35px;
  text-align: center;
}

input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: none;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

#fecha {
  width: 180px;
  border-radius: 10px;
  height: 35px;
  text-align: center;
}

#CVC {
  width: 100px;
  border-radius: 10px;
  height: 35px;
  text-align: center;
}

.btnEnviar {
  margin-top: 20px;
  width: 200px;
  height: 35px;
  margin-left: 0px;
}

footer {
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #1E1E1E 0%, #000000 100%);
  background: -webkit-linear-gradient(top, #000000 0%, #1E1E1E 0%, #000000 100%);
  background: linear-gradient(to bottom, #000000 0%, #1E1E1E 0%, #000000 100%);
  border-top: 1px solid whitesmoke;
  height: 150px;
}

.informacion {
  width: 200px;
}
.informacion h5 {
  font-family: "Rubik Wet Paint", cursive;
  color: #FFFFFF;
  padding: 20px;
  display: flex;
  font-size: 1.5rem;
}
.informacion h5 i {
  font-size: 10px;
  margin-top: 17px;
}
.informacion a {
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Lexend Deca", Courier, monospace;
  margin-left: 20px;
  width: auto;
  transition: 0.5s ease-in;
}
.informacion a:hover {
  color: #bfe9ff;
  border-bottom: 1px solid #bfe9ff;
}

.redes {
  display: flex;
  float: right;
  width: 200px;
  margin-top: -30px;
}
.redes a {
  border: 20px darkblue;
}
.redes a i {
  color: #FFFFFF;
  font-size: 30px;
  margin-right: 20px;
}
.redes a i:hover {
  color: #bfe9ff;
}

.nosotros {
  background-image: url(../../img/imgnosotros.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  height: 100%;
}
.nosotros .nosotros-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 60px;
}
.nosotros .nosotros-container h2 {
  display: flex;
  font-size: 1.7rem;
  text-decoration: underline;
}

.preguntas {
  position: relative;
  width: 100%;
  height: 100%;
}

.preguntas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 100px;
}
.preguntas-container h3 {
  text-decoration: underline;
  color: #FFFFFF;
  padding-top: 20px;
}

.contenedor-codigo {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(230, 199, 212);
  background: radial-gradient(circle, rgb(230, 199, 212) 11%, rgb(148, 187, 233) 100%);
}

.codigo-container a {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 2rem;
  text-decoration: none;
  font-family: "Lexend Deca", Courier, monospace;
  color: #FFFFFF;
  background-color: #766DF4;
  border-radius: 20px;
  padding: 1px;
  border: 1px solid white;
  text-align: center;
  width: 200px;
}
.codigo-container h2 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 2.7rem;
  color: white;
  font-family: "Lexend Deca", Courier, monospace;
  text-decoration: underline;
}
.codigo-container div {
  display: flex;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(93, 87, 87, 0), #766DF4) left -100px top 0/100px 40px no-repeat #141417;
  animation: ct2 1s infinite linear, ct3 3s;
  animation-fill-mode: forwards;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.codigo-container div h6 {
  position: relative;
  font-family: "Lexend Deca", Courier, monospace;
  color: #FFFFFF;
  z-index: 0;
}
.codigo-container section {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 10px;
  animation: 3.2s ct4;
  animation-fill-mode: forwards;
  visibility: hidden;
  transition: 2s ease-in-out;
  width: 100%;
}
.codigo-container section table {
  background-image: url(../img/carro2.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  font-size: 1.5rem;
  color: black;
  font-family: "Lexend Deca", Courier, monospace;
  width: 100%;
}
.codigo-container section table td {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

@keyframes ct4 {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@media screen and (max-width: 910px) {
  header {
    height: 90px;
  }
  header h1 {
    margin: 0;
    margin-top: 25px;
    margin-left: 10px;
    font-family: "Rubik Wet Paint", cursive;
    width: 10px;
    height: 20px;
    font-size: 1.9rem;
    float: left;
  }
  header img {
    width: 40px;
    height: 35px;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
  }
  .navegar ul {
    padding-top: 30px;
  }
  .navegar ul li a {
    font-size: 1.3rem;
  }
  .sesion a {
    margin-top: -32px;
    font-size: 1.3rem;
    margin-right: 15px;
  }
  .contenedor-busqueda {
    width: 100%;
    height: 80px;
    margin-top: 80px;
    background-color: rgb(45, 15, 85);
    border-bottom: 1px solid whitesmoke;
  }
  .contenedor-busqueda ul li a {
    margin-top: 30px;
    font-size: 1.1rem;
  }
  .contenedor-busqueda .items-nav {
    margin-top: -8px;
  }
  .contenedor-busqueda .Buscador {
    height: 35px;
  }
  .contenedor-busqueda .Buscando {
    margin-left: 5px;
    margin-top: 3px;
    width: 45px;
    height: 45px;
  }
  .contenedor-busqueda .fa-search {
    font-size: 24px;
  }
  .carro-container {
    display: flex;
    justify-content: left;
    height: 600px;
  }
  .carro-container .tabla-container {
    width: 450px;
  }
  .carro-container .tabla-container .tabla {
    width: 430px;
    height: 200px;
  }
  .carro-container .tabla-container .tabla tbody td {
    font-size: 0.6rem;
    font-weight: bold;
  }
  .carro-container .tabla-container .tabla thead th {
    font-size: 0.8rem;
  }
  .carro-container .tabla-container .controles {
    margin-left: 35px;
  }
  .carro-container .tabla-container .controles input {
    margin-left: 10px;
    width: 170px;
    font-size: 0.8rem;
  }
  .carro-container .controles {
    margin-top: 40px;
    margin-left: 50px;
  }
  .checkout {
    height: 520px;
    margin-top: -519px;
    width: 260px;
  }
  .checkout h3 {
    font-size: 1.5rem;
  }
  .checkout h5 {
    font-size: 1rem;
    margin-left: 35px;
  }
  .checkout .precio {
    font-size: 1rem;
    margin-left: 170px;
  }
  .checkout .descuento {
    margin-left: 25px;
  }
  .checkout .btnPagar {
    margin-left: 30px;
    width: 200px;
  }
  .codigo-container h2 {
    font-size: 2rem;
  }
  .codigo-container a {
    width: 150px;
    font-size: 1.5rem;
  }
  .codigo-container section table {
    font-size: 1.2rem;
  }
  .formulario {
    top: 45px;
  }
  .portada-juegos {
    background-size: contain;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 80px;
  }
  header h1 {
    margin-top: 25px;
    font-size: 1.5rem;
  }
  header img {
    width: 40px;
    height: 35px;
    margin-top: 25px;
    margin-left: 30px;
    float: left;
  }
  .navegar ul {
    padding-top: 30px;
  }
  .navegar ul li a {
    font-size: 1.1rem;
    padding-left: 2px;
    padding-right: 2px;
  }
  .sesion a {
    margin-top: -24px;
    font-size: 1rem;
    margin-right: -5px;
  }
  .contenedor-busqueda {
    width: 100%;
    height: 70px;
    margin-top: 80px;
    background-color: rgb(45, 15, 85);
    border-bottom: 1px solid whitesmoke;
  }
  .contenedor-busqueda ul li a {
    margin-top: 20px;
    font-size: 1rem;
  }
  .contenedor-busqueda .items-nav {
    margin-top: -15px;
  }
  .contenedor-busqueda .items-nav:hover .Buscador {
    width: 450px;
  }
  .contenedor-busqueda .Buscador {
    height: 35px;
  }
  .contenedor-busqueda .Buscador:focus {
    border-color: rgb(162, 246, 218);
    width: 450px;
  }
  .contenedor-busqueda .Buscando {
    width: 45px;
    height: 45px;
  }
  .contenedor-busqueda .fa-search {
    font-size: 24px;
  }
  .carro-container {
    height: 600px;
  }
  .carro-container .tabla-container {
    width: 350px;
  }
  .carro-container .tabla-container .tabla {
    width: 340px;
    height: 200px;
    margin-left: 5px;
  }
  .carro-container .tabla-container .tabla tbody td {
    width: 40px;
    font-size: 0.6rem;
  }
  .carro-container .tabla-container .tabla thead th {
    font-size: 0.8rem;
  }
  .carro-container .tabla-container .controles {
    margin-left: 35px;
  }
  .carro-container .tabla-container .controles input {
    height: 25px;
    margin-left: 10px;
    width: 130px;
    font-size: 0.6rem;
    border-radius: 10px;
  }
  .checkout {
    height: 522px;
    margin-top: -521px;
    width: 220px;
  }
  .checkout h3 {
    font-size: 1.2rem;
  }
  .checkout h5 {
    margin-top: 25px;
    font-size: 0.8rem;
    margin-left: 35px;
  }
  .checkout .precio {
    font-size: 0.9rem;
    margin-top: -24px;
    margin-left: 160px;
  }
  .checkout .descuento {
    width: 150px;
    margin-left: 35px;
  }
  .checkout .btnPagar {
    margin-top: 20px;
    margin-left: 25px;
    height: 30px;
    width: 170px;
    border-radius: 10px;
  }
  .contenido-principal .main-title {
    font-size: 2.4rem;
  }
  .oferta-container {
    height: 220px;
    width: 170px;
  }
  .oferta-container:hover {
    transform: scale(1.05);
  }
  .oferta-container h3 {
    top: -20%;
  }
  .oferta-container img {
    border-radius: 18px;
  }
  .descripcion-container {
    height: 120px;
    width: 160px;
  }
  .descripcion-container:hover {
    transform: scale(1.05);
  }
  .descripcion-container h3 {
    font-size: 1.3rem;
  }
  .juegos-container {
    width: 170px;
    height: 260px;
    margin-top: 10px;
  }
  .juegos-container:hover {
    transform: scale(1.05);
  }
  .juegos-container a {
    width: 300px;
    font-size: 0.8rem;
  }
  .juegos-container img {
    width: 170px;
    height: 200px;
    border-radius: 18px;
  }
  .formulario {
    top: 35px;
  }
  .game-pay h3 {
    font-size: 0.8rem;
  }
  .game-pay h4 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 640px) {
  header {
    height: 70px;
  }
  header h1 {
    margin-top: 20px;
    font-size: 1.3rem;
    margin-left: 0px;
  }
  header img {
    width: 35px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
  }
  .navegar ul {
    padding-top: 25px;
    margin-left: 80px;
  }
  .navegar ul li a {
    margin-left: 15px;
    font-size: 0.8rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sesion a {
    margin-top: -20px;
    font-size: 0.8rem;
    padding-left: 0px;
    padding-right: 0px;
    width: 30px;
  }
  .contenedor-busqueda {
    width: 100%;
    height: 60px;
    margin-top: 70px;
    background-color: rgb(45, 15, 85);
    border-bottom: 1px solid whitesmoke;
  }
  .contenedor-busqueda ul li a {
    margin-top: 20px;
    font-size: 0.8rem;
  }
  .contenedor-busqueda .items-nav {
    margin-top: -10px;
  }
  .contenedor-busqueda .items-nav:hover .Buscador {
    width: 380px;
  }
  .contenedor-busqueda .Buscador {
    font-size: 0.8rem;
    height: 30px;
  }
  .contenedor-busqueda .Buscador:focus {
    border-color: rgb(162, 246, 218);
    width: 380px;
  }
  .contenedor-busqueda .Buscando {
    margin-top: 4px;
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }
  .contenedor-busqueda .fa-search {
    font-size: 1.2rem;
  }
  .contenido-principal .main-title {
    font-size: 1.5rem;
  }
  .carousel-item {
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .carousel-item img {
    height: 290px;
    border-radius: 3px;
  }
  .separator {
    top: 20px;
  }
  .Ofertas h1 {
    margin-top: 0px;
  }
  .oferta-container {
    height: 140px;
    width: 110px;
    gap: 0px;
  }
  .oferta-container:hover {
    transform: scale(1.1);
  }
  .oferta-container h3 {
    top: -65%;
    font-size: 1rem;
  }
  .Ofertoide {
    top: 80%;
    width: 30px;
    height: 25px;
  }
  .Ofertoide h6 {
    color: rgb(14, 11, 11);
    font-family: "Lexend Deca", Courier, monospace;
    font-size: 0.7rem;
  }
  .oferta {
    margin-top: 0px;
  }
  .descripcion-container {
    height: 100px;
    width: 140px;
  }
  .descripcion-container:hover {
    transform: scale(1.1);
  }
  .descripcion-container h3 {
    font-size: 1rem;
  }
  .formulario div {
    width: 400px;
  }
  .carro-container {
    margin-top: -100px;
  }
  .carro-container h2 {
    position: absolute;
    top: 90px;
    left: 20px;
    z-index: 1;
  }
  .carro-container .tabla-container {
    width: 270px;
    height: 150px;
  }
  .carro-container .tabla-container .tabla {
    width: 260px;
    height: 140px;
    margin-left: 5px;
  }
  .carro-container .tabla-container .tabla tbody td {
    width: 40px;
    font-size: 0.6rem;
  }
  .carro-container .tabla-container .tabla thead th {
    font-size: 0.8rem;
  }
  .carro-container .tabla-container .controles {
    margin-left: 25px;
  }
  .carro-container .tabla-container .controles input {
    height: 25px;
    margin-left: 10px;
    width: 100px;
    font-size: 0.5rem;
    border-radius: 5px;
  }
  .checkout {
    height: 432px;
    margin-top: -431px;
    width: 140px;
  }
  .checkout h3 {
    font-size: 0.8rem;
  }
  .checkout h5 {
    margin-top: 25px;
    font-size: 0.6rem;
    margin-left: 22px;
  }
  .checkout .precio {
    font-size: 0.6rem;
    margin-top: -21px;
    margin-left: 90px;
  }
  .checkout .descuento {
    width: 120px;
    margin-left: 15px;
  }
  .checkout .btnPagar {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 0.8rem;
    height: 30px;
    width: 110px;
    border-radius: 5px;
  }
  .codigo-container h2 {
    font-size: 1.5rem;
    width: 250px;
  }
  .codigo-container a {
    width: 150px;
    font-size: 1.3rem;
  }
  .codigo-container section table {
    font-size: 1.2rem;
  }
  .juegos-contenedor {
    margin-top: 10px;
  }
  .juegos-container {
    width: 110px;
    height: 210px;
    margin-top: 10px;
  }
  .juegos-container:hover {
    transform: scale(1.05);
  }
  .juegos-container a h6 {
    font-size: 0.6rem;
  }
  .juegos-container img {
    width: 110px;
    height: 160px;
    border-radius: 18px;
  }
  .juegos-container h3 {
    font-size: 1rem;
  }
  .preguntas-container p {
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
  }
  .game-pay {
    background: none;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: "Lexend Deca", Courier, monospace;
    text-align: center;
    margin-right: 0px;
    margin-top: 20px;
    color: black;
    position: relative;
  }
  .game-pay h4 {
    margin-left: 20px;
    margin: 15px;
  }
  .game-pay p {
    font-size: 0.8rem;
  }
  .añadirCarro {
    font-size: 0.6rem;
    width: 120px;
    height: 30px;
  }
  .comprar {
    width: 120px;
    height: 30px;
    font-size: 0.6rem;
    margin-left: 150px;
  }
  footer .informacion {
    width: 170px;
  }
  footer .informacion i {
    margin-top: 12px;
    margin-left: 3px;
  }
  footer .informacion h4 {
    font-size: 1.2rem;
  }
  footer .informacion a {
    font-size: 0.8rem;
  }
  footer .redes a i {
    font-size: 25px;
    margin-right: 27px;
    margin-top: 5px;
  }
  .contenedor-payment {
    margin-top: -20px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  header {
    height: 50px;
  }
  header h1 {
    margin-top: 20px;
    font-size: 0.7rem;
    margin-left: 5px;
  }
  header img {
    width: 15px;
    height: 15px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
  }
  .navegar ul {
    padding-top: 22px;
    margin-left: 0px;
  }
  .navegar ul li a {
    font-size: 0.47rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sesion {
    align-items: center;
  }
  .sesion a {
    margin-top: -10px;
    font-size: 0.4rem;
    margin-right: 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: 10px;
  }
  .contenedor-busqueda {
    width: 100%;
    height: 40px;
    margin-top: 50px;
    background-color: rgb(45, 15, 85);
    border-bottom: 1px solid whitesmoke;
  }
  .contenedor-busqueda ul {
    margin-left: -10px;
  }
  .contenedor-busqueda ul li a {
    margin-top: 10px;
    font-size: 0.4rem;
    margin-left: 10px;
  }
  .contenedor-busqueda .items-nav {
    margin-top: -6px;
  }
  .contenedor-busqueda .items-nav:hover .Buscador {
    width: 180px;
  }
  .contenedor-busqueda .Buscador {
    font-size: 0.4rem;
    height: 15px;
    left: 35px;
  }
  .contenedor-busqueda .Buscador:focus {
    border-color: rgb(162, 246, 218);
    width: 180px;
  }
  .contenedor-busqueda .Buscando {
    margin-top: 2px;
    width: 20px;
    height: 20px;
    margin-left: 30px;
  }
  .contenedor-busqueda .fa-search {
    font-size: 0.6rem;
  }
  .contenido-principal .main-title {
    font-size: 1rem;
  }
  .carousel-item {
    margin-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .carousel-item img {
    height: 200px;
    border-radius: 3px;
  }
  .separator {
    top: 20px;
  }
  .Ofertas .main-title {
    margin-top: 50px;
  }
  .oferta-container {
    margin-top: -20px;
    gap: 0px;
    border-radius: 0px;
    height: 70px;
    width: 50px;
  }
  .oferta-container:hover {
    transform: scale(1.1);
  }
  .oferta-container h3 {
    font-size: 0.4rem;
    top: -180%;
  }
  .oferta-container img {
    border-radius: 15px;
  }
  .Ofertoide {
    top: 75%;
    left: 8%;
    width: 15px;
    height: 10px;
  }
  .Ofertoide h6 {
    color: rgb(14, 11, 11);
    font-family: "Lexend Deca", Courier, monospace;
    font-size: 0.4rem;
  }
  .oferta {
    margin-top: 0px;
  }
  .categorias h1 {
    margin-top: -40px;
  }
  .descripcion-container {
    gap: 20px;
    height: 70px;
    width: 79px;
    margin-top: -20px;
  }
  .descripcion-container:hover {
    transform: scale(1.1);
  }
  .descripcion-container img {
    border-radius: 20px;
  }
  .descripcion-container h3 {
    font-size: 0.5rem;
  }
  .tarjeta {
    margin-top: -80px;
    top: 120px;
  }
  .juegos-contenedor {
    margin-top: 0px;
  }
  .juegos-container {
    width: 80px;
    height: 90px;
    margin-top: 20px;
  }
  .juegos-container:hover {
    transform: scale(1.05);
  }
  .juegos-container a {
    margin-top: 10px;
  }
  .juegos-container a h6 {
    font-size: 0.3rem;
    margin-top: 5px;
  }
  .juegos-container img {
    background-color: aqua;
    padding: 0px;
    width: 80px;
    height: 70px;
    border-radius: 5px;
  }
  .juegos-container h3 {
    font-size: 0.7rem;
  }
  .añadirCarro {
    font-size: 0.4rem;
    width: 80px;
    height: 20px;
  }
  .comprar {
    width: 80px;
    height: 20px;
    font-size: 0.4rem;
    margin-left: 50px;
  }
  .carro-container {
    margin-top: -80px;
  }
  .carro-container h2 {
    position: absolute;
    top: 100px;
    left: 120px;
    z-index: 1;
  }
  .carro-container .tabla-container {
    margin-left: 15px;
    width: 270px;
  }
  .carro-container .tabla-container .tabla {
    width: 260px;
    margin-left: 5px;
  }
  .carro-container .tabla-container .tabla tbody td {
    width: 40px;
    font-size: 0.6rem;
  }
  .carro-container .tabla-container .tabla thead th {
    font-size: 0.8rem;
    width: 0px;
  }
  .carro-container .tabla-container .controles {
    margin-left: 15px;
    margin-top: 15px;
  }
  .carro-container .tabla-container .controles input {
    height: 25px;
    margin-left: 10px;
    width: 100px;
    font-size: 0.5rem;
    border-radius: 5px;
  }
  .checkout {
    position: relative;
    margin-top: -140px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 140px;
    width: 305px;
  }
  .checkout h3 {
    font-size: 0.8rem;
    margin-top: 0;
  }
  .checkout h5 {
    margin-top: 1px;
    font-size: 0.6rem;
    margin-left: 70px;
  }
  .checkout .precio {
    font-size: 0.6rem;
    margin-top: -21px;
    margin-left: 190px;
  }
  .checkout .descuento {
    width: 80px;
    margin-left: 85px;
    margin-top: -160px;
    font-size: 0.4rem;
    border-bottom: 0.5px solid white;
  }
  .checkout .btnPagar {
    margin-top: -40px;
    margin-left: 60px;
    font-size: 0.4rem;
    height: 15px;
    width: 40px;
    border-radius: 5px;
  }
  .formulario {
    width: 260px;
    top: 20px;
    left: 0px;
  }
  .formulario h5 {
    font-size: 1.1rem;
  }
  .formulario input {
    width: 200px;
    height: 20px;
    padding: 12px;
  }
  .formulario a input {
    padding: 0px;
    height: 30px;
    margin-left: 20px;
  }
  .formulario div {
    height: 0px;
    width: 180px;
  }
  .formulario div a {
    font-size: 0.7rem;
    margin-left: 10px;
  }
  .formulario .btnCorreo {
    margin-left: 2px;
  }
  .formularioR {
    width: 260px;
    top: 20px;
    left: 0px;
  }
  .formularioR h5 {
    font-size: 1.1rem;
  }
  .formularioR input {
    width: 200px;
    height: 20px;
    padding: 12px;
  }
  .formularioR a input {
    padding: 0px;
    height: 30px;
    margin-left: 10px;
  }
  .contenedor-payment {
    height: 400px;
    margin-top: 50px;
  }
  .contenedor-payment .payment {
    width: 300px;
    height: 400px;
    font-family: "Lexend Deca", Courier, monospace;
    color: #FFFFFF;
  }
  .contenedor-payment .payment h3 {
    font-size: 1rem;
  }
  .contenedor-payment .payment h5 {
    font-size: 0.8rem;
  }
  .contenedor-payment .payment form select {
    text-align: center;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  .contenedor-payment #numero-tarjeta {
    padding: 2px;
    width: 200px;
    border-radius: 5px;
    height: 25px;
    text-align: center;
    font-size: 0.8rem;
  }
  .contenedor-payment #fecha {
    width: 180px;
    border-radius: 5px;
    height: 25px;
    text-align: center;
  }
  .contenedor-payment #CVC {
    width: 100px;
    border-radius: 5px;
    height: 25px;
    text-align: center;
  }
  .contenedor-payment .btnPayment {
    font-size: 0.7rem;
    width: 200px;
    height: 25px;
  }
  footer .informacion {
    width: 140px;
  }
  footer .informacion i {
    margin-top: 8px;
    margin-left: 3px;
  }
  footer .informacion h4 {
    font-size: 1rem;
  }
  footer .informacion a {
    font-size: 0.6rem;
  }
  footer .redes {
    justify-content: right;
  }
  footer .redes a i {
    font-size: 0.9rem;
    margin-right: 10px;
    margin-top: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
