



$color_1: aliceblue;
$color_2: white;
$color_3: rgb(14, 11, 11);
$color_4: rgb(244, 244, 244);
$color_5: black;
$color_6: #FFFFFF;
$color_7: transparent;
$color_8: #bfe9ff;
$color_9: #fff;
$color_10: rgb(243, 65, 142);
$color_11: rgb(247, 247, 247);
$color_12: rgb(255, 255, 255);
$color_13: #ff6e7f;
$font-family_1: 'Lexend Deca', Courier, monospace;
$font-family_2: 'Rubik Wet Paint', cursive;
$background-color_1: black;
$background-color_2: white;
$background-color_3: rgb(45, 15, 85);
$background-color_4: #000000;
$background-color_5: rgb(99, 15, 125);
$background-color_6: rgba(255, 249, 249, 0.753);
$background-color_7: #bfe9ff;
$background-color_8: rgb(247, 211, 168);
$background-color_9: rgb(162, 246, 218);
$background-color_10: hsla(0, 0%, 100%, 0.434);
$background-color_11: rgb(244, 195, 136);
$border-color_1: white;
$border-color_2: rgb(162, 246, 218);

